.search {
    width: 55.5em;
    padding: 15px;
    font-size: 20px;
    margin-top: 10px;
}

.search-form {
    display: flex;
    margin-bottom: 100px;
    margin-top: 50px;
    justify-content: center;
}



@media screen and (max-width: 700px) {
    .search {
        width: 17.5em;
        padding: 15px;
        font-size: 20px;
    }
}